html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
td,th{
  padding: 10px;
  border: 2px solid black;
}
.graph{
  border-top: 2px solid black;
  margin: 10px;
}
.table,.table tr{
  border: 2px solid black;
}